<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>houses_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,66}</string>
                <key>spriteSize</key>
                <string>{544,286}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{1,1},{544,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>houses_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-9}</string>
                <key>spriteSize</key>
                <string>{840,360}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{1,351},{840,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>houses_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{759,370}</string>
                <key>spriteSourceSize</key>
                <string>{767,432}</string>
                <key>textureRect</key>
                <string>{{843,351},{759,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>houses_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,63}</string>
                <key>spriteSize</key>
                <string>{860,348}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{547,1},{860,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hourseall.png</string>
            <key>size</key>
            <string>{1603,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:749ceb2d9f28533ba3cb1edf7ab4dee7:ce156bc87ca439885faf6bc82a951d77:e490b387cc9b202f79638398e6c005bb$</string>
            <key>textureFileName</key>
            <string>hourseall.png</string>
        </dict>
    </dict>
</plist>
